#todo-error{
  color: red;
  font-size: 2em;
}
body{

  background:no-repeat center fixed;
  background-size:cover;

}
#weather{
  background-color:(10,10,10,.5);
  color:white;
}

*{
  border:none !important;
  
}
#clock,#weather{
  color:white !important;
  -webkit-text-stroke:1px black !important;
}
#quote-todo-row{
  
}
#quote{
background-color:rgb(0,0,0,.5);
}
#todo{

}
